@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

#source {
  display: none;
}
body {
  font-family: 'Roboto';
}
h1, h2, h3 {
  font-family: 'Nunito';
  font-weight: 400;
  margin-bottom: 0;
}
h4 { margin: .3em 0; }
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.footnote {
  position: absolute;
  bottom: 3em;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.3em;
  font-size: 0.8em;
  opacity: 0.7;
}
p { line-height: 1.5em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
.small { font-size: 80%; }
.small .remark-code { font-size: 90%; }
sup { font-size: .6em; }
.pay { color: #053385; }
.pal { color: #199EDC; }
li {
  margin: 0.5em 0;
}
.responsive-images img {
  width: 100%;
  display: block;
}
a, a > code {
  color: #199EDC;
}
.warning a, .warning a > code {
  color: #dc796b;
}
code {
  background: #e7e8e2;
  border-radius: 5px;
}
.monospaced,
.monospaced h1,
.monospaced h2,
.monospaced h3,
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
.pull-left pre, .pull-right pre {
  margin: .3em 0;
}
.pull-contain,
.pull-contain-code {
  overflow: hidden;
}
.pull-contain-code {
  margin: .5em 0;
  padding: 0 .5em;
  background-color: #DAF0F7;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.warning {
  background: #850e04;
  color: #ffd5dd;
}
.paypal {
  background: #053385;
  color: #199EDC;
  text-shadow: 0 0 20px #021435;
}
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.warning h1, .warning h2, .warning h3,
.paypal h1, .paypal h2, .paypal h3,
.inverse h1, .inverse h2, .inverse h3 {
  margin: .5em 0;
  line-height: 1.33em;
}
.warning h1,
.paypal h1,
.inverse h1 {
  margin: .1em 0;
}
.warning h1, .warning h2,
.paypal h1, .paypal h2,
.inverse h1, .inverse h2 {
  color: #f3f3f3;
}
.paypal .footnote {
  border-top-color: rgba(255, 255, 255, 0.2);
}

/* Slide-specific styling */
#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}
#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

#slide-whoami .responsive-images {
  border: 0.1em solid #ccc;
  border-radius: 1em;
  overflow: hidden;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type,
.left-column li:last-child {
  color: #000;
}
.left-column li {
  margin: 1em 0;
}

.left-column ul {
  padding-left: 1em;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

